TAVILY_API_KEY="YOUR_KEY"
# TAVILY_CONCURRENCY="2"

OPENAI_KEY="YOUR_KEY"
CONTEXT_SIZE="128000"

# If you want to use other OpenAI compatible API, add the following below:
# OPENAI_ENDPOINT="http://localhost:11434/v1"
# CUSTOM_MODEL="llama3.1"

# If you want to use fireworks.ai's DeepSeek R1 model:
# FIREWORKS_KEY="YOUR_KEY"
